*{
    border: 1px solid;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    min-height: 100vh;
    background-color: rgb(241, 234, 224);
}
table{
    box-shadow: 5px 10px 18px;
}